/*Navbar*/

header{
	position: absolute;
	background: #000000;
	width: 100%;
	height: 10%;
	left: 0px;
	top: 0px;
}

body{
	background-color: black;
}

#accueil{
position: absolute;
width: 104px;
height: 28px;
left: 800px;
top: 42px;

font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-size: x-large;
line-height: 28px;

color: #E5E5E5;
}

#cv{
position: absolute;
width: 104px;
height: 28px;
left: 1000px;
top: 42px;

font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-size: x-large;
line-height: 28px;

color: #E5E5E5;
}


#portfolio{
position: absolute;
width: 104px;
height: 28px;
left: 1200px;
top: 42px;

font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-size: x-large;
line-height: 28px;

color: #E5E5E5;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}

/* Sections*/

article{
	color:black;
	font-family: Roboto;
}

#contact{
	position: absolute;
	display:flex;
align-items: center;
justify-content: center;
	width: 35%;
	height: 55%;
	left:0px;
	top: 10%;
	
	background: #FFFFFF;
	
	
	}

#hello{
	position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
	width: 65%;
	height: 35%;
	left: 35%;
	top: 10%;
	
	background: #F4F4F4;
	

}
#jeSuis{
	position: fixed;
    right: center;
    left: center;
	width: 40%;
	
}

#transition{
	font-family: 'Waiting for the Sunrise', cursive; 
	font-weight:bold;
	font-size: 3em;
	color:rgb(172, 3, 172);
	padding-left: 10px;
	text-align: center;

}


#aboutMe{
position: absolute;
display:flex;
	align-items: center;
	justify-content: center;
width: 35%;
height: 55%;
left: 0px;
top: 45%;

background: #F4F4F4;
}

#portfolioSection{

position: absolute;
display:flex;
align-items: center;
justify-content: center;
width: 65%;
height: 55%;
left: 35%;
top: 45%;

background: #FFFFFF;
}

#photo{
	border:2px solid black;
	border-radius: 1000px;
	width: 40%;
	height:50%;
	left: 50px;
	top: 50px;
}

.image{

	height:250px;
	width:250px;
	z-index: 1;

	

}

/*test*/
#test{
	
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height:600px;
	background:black;
	
	

}


#test1{
	position: absolute;
    right: center;
    top:center;
	width: 50%;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
	
}

#test2{
	font-family: 'Waiting for the Sunrise', cursive; 
	font-weight:bold;
	font-size: 3em;
	color:rgb(172, 3, 172);
	padding-left: 10px;
	text-align: center;
	


}

#imgTest{
	height:600px;
	width: auto;
}

a:hover{
	color:rgb(78, 233, 253);
}

#divTest{
	margin-top: 5%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

#textTest{

	padding:30px;
	color:white;
}
	